<html>
	<head>
		<!-- <HEAD> TEMPLATE -->
		<!-- Meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

		<!-- CSS tags. nb: files relative to ./nav-redesign, not ./ -->
    <link href="./vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="./vendor/font-awesome/css/font-awesome.min.css">
		<style>
			a:hover {
				text-decoration: none;
			}
		</style>

		<!-- END TEMPLATE -->

		<title>Mentor Net - My Profile</title>
	</head>
	<body class="text-center">

		<!-- Page Title -->
		<header class="container mt-3 mb-3">
			<h4 class="row">
				<span class="col-6">Mentor Net</span>
				<small class="text-muted col mt-1"> My Profile </small>
			</h4>
		</header>

		<!-- Vue Entry -->
		<div id="vue-entry">
			<!-- Site Nav -->
			<nav class="mb-1 container py-1">
				<div class="row">
					<div class="col">
					<a href="mentor-list.html" class="btn btn-sm btn-outline-info">
						<i class="fa fa-users"></i><br>Mentors
					</a>
					</div>
					<div class="col">
					<a href="#" class="btn btn-sm btn-outline-info">
						<i class="fa fa-user"></i><br>Profile
					</a>
					</div>
					<div class="col">
						<a href="sessions.html" class="btn btn-sm btn-outline-info">
							<i class="fa fa-globe"></i><br>Sessions
						</a>
					</div>
				</div></nav>

			<div class="container bg-dark text-light py-3">
				<!-- Forms for contact & payment info go here -->
				<h4 class="lead">Contact Info</h4>
				<form action="javascript:void(0);" class="py-1">
					<input
						v-model="name"
						type="text"
						class="form-control mb-3"
						placeholder="Name" required/>
					<input
						v-model="phone"
						type="tel"
						minlength="10"
						class="form-control mb-3"
						placeholder="Phone Number" required/>
						<button
							v-show="!ajaxLoading"
							@click="syncProfile"
							type="submit"
							class="btn btn-outline-info w-100">Update Contact Info</button>
						<button
							v-show="ajaxLoading"
							disabled
							class="btn btn-outline-info w-100">
						<i class="fa fa-spinner fa-lg fa-pulse py-1"></i>
						</button>
				</form>
			</div>

			<div class="container bg-dark text-light py-3">
				<button
					v-if="!isActive"
					@click="startMentoring"
					class="btn btn-success">Start Mentoring</button>
				<button
					v-else
					@click="stopMentoring"
					class="btn btn-danger">Stop Mentoring</button>
			</div>

			<div class="container bg-dark text-light py-3" v-if="isActive">
				<h4 class="lead">My Skills</h4>
				<p class="small py-1 my-1 mb-3" v-if="!ajaxLoading && skills.length === 0">You haven't mentioned any skills yet.</p>
				<form action="javascript:void(0);" @submit="addSkill" class="text-left">
					<span
						style="display: none"
						v-for="(skill, index) in skills"
						v-show="1"
						class="text-dark btn btn-sm btn-success mx-1 mb-3"
						:key="index"
						:index="index"
						:skill="skill"
						@click="deleteSkill(index)">

						<span class="py-1">
							{{ skill.slice(0,1).toUpperCase() + skill.slice(1) }}
							<i class="ml-1 fa fa-close"></i>
						</span>
					
					</span>
					<input
						ref="skillInput"
						@input="(ev) => validateSkillInput(ev.target)"
						class="form-control"
						type="text"
						required
						placeholder="Skill (e.g.: APA 6 referencing)" />
					<button
						v-show="!ajaxLoading"
						type="submit"
						class="btn btn-outline-info w-100 mt-3">Add Skill</button>
					<button
						v-show="ajaxLoading"
						type="submit"
						disabled
						class="btn btn-outline-info w-100 mt-3">
						<i class="fa fa-spinner fa-lg fa-pulse py-1"></i>
					</button>
				</form>
			</div>

			<div class="container bg-dark text-light py-3">
				<h4 class="lead">Payment Info</h4>
				<form action="javascript:void(0);" class="py-1">
					<input
						v-model="payid"
						type="text"
						class="form-control mb-3"
						placeholder="Name" required/>
						<button
							v-show="!ajaxLoading"
							@click="syncProfile"
							type="submit"
							class="btn btn-outline-info w-100">Update PayID</button>
						<button
							v-show="ajaxLoading"
							disabled
							class="btn btn-outline-info w-100">
						<i class="fa fa-spinner fa-lg fa-pulse py-1"></i>
						</button>
				</form>
			</div>


			<!-- Forms for logging out, deleting account go here -->
			<div class="container bg-dark text-light py-3">
				<div class="row">
					<div class="col">
						<button @click="logout" class="btn btn-outline-warning w-100">Log Out</button>
					</div>
					<div class="col">
						<button
							@click="deleteAccount"
							class="btn btn-outline-danger w-100">Delete Account</button>
					</div>
			</div>

		</div>

		<!-- Footer -->
		<footer class="mt-3">
			<p class="mt-0 text-muted">Got a question? Get in touch:</p>
			<h4 class="row mx-auto w-50">
				<a href="mailto:tom@joinmentornet.me" class="col">
					<i class="fa fa-envelope"></i>
					<p class="h6 mt-2">Email</p>
				</a>

				<a href="tel:0450797678" class="col">
					<i class="fa fa-phone"></i>
					<p class="h6 mt-2">Phone</p>
				</a>
			</h4>
		</footer>

		<!-- Javascript (global) -->
		<script src="https://cdn.jsdelivr.net/npm/vue"></script>
		<script src="https://unpkg.com/axios/dist/axios.min.js"></script>

		<script src="./js/generics.js"></script>
		<script src="./js/session-data.js"></script>
		<!-- Javascript (local) -->
		<script>
			if (!hasSessionData()) reauthAndReturn();

			let vue = new Vue({
				el: '#vue-entry',
				data: {
					// Model
					name: data.name,
					phone: data.phone,
					payid: data.payid,
					skills: data.skills || [],
					isActive: data.isActive,

					// UI state
					ajaxLoading: false
				},
				computed: {
					userHasBooking () {
						return data.booking ? true : false;
					},
					bookedMentorURL () {
						if (!this.userHasBooking) return '#';
						return 'mentor-profile.html?uid=' + data.booking.mentorUID;
					}
				},
				methods: {
					addSkill () {
						let skillInput = this.$refs.skillInput;
						if (this.validateSkillInput(skillInput)) {
							this.skills = this.skills.concat(skillInput.value);
							skillInput.value = '';

							this.syncProfile();
						}
					},
					validateSkillInput (el) {
						const isValid = !this.skills.includes(el.value);
						const validMessage = '', invalidMessage = 'Skill already given';
						el.setCustomValidity(isValid ? validMessage : invalidMessage);
						return isValid;
					},
					deleteSkill (skillIndex) {
						let tmpArr = this.skills.concat();
						tmpArr.splice(skillIndex, 1);
						this.skills = tmpArr;
						this.validateSkillInput( this.$refs.skillInput );
						this.syncProfile();
					},
					startMentoring () {
						this.isActive = true;
						this.syncProfile();
					},
					stopMentoring () {
						this.isActive = false;
						this.syncProfile();
					},
					syncProfile () {
						const ajaxPackage = {
							uid: data.uid,
							name: this.name,
							phone: this.phone,
							payid: this.payid,
							skills: this.skills,
							isActive: this.isActive
						};

						this.ajaxLoading = true;

						http.put('/user', ajaxPackage)
							.then(response => {
								this.ajaxLoading = false;
								buildSessionData(response.data);
								Object.keys(response.data).forEach(key => this[key] = response.data[key]);
							}).catch(handleAxiosError);
					},
					logout () {
						http.delete('/auth')
							.then(response => {
								clearSessionData();
								redirect('index.html');
							}).catch(handleAxiosError);
					},
					deleteAccount () {
						http.delete('/user/' + data.uid)
							.then(success => {
								clearSessionData();
								redirect('index.html')
							})
							.catch(handleAxiosError);
					}
				}
			});
		</script>
	</body>
</html>
