<html>
	<head>
		<!-- <HEAD> TEMPLATE -->
		<!-- Meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

		<!-- CSS tags. nb: files relative to ./nav-redesign, not ./ -->
    <link href="./vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="./vendor/font-awesome/css/font-awesome.min.css">
		<style>
			a:hover {
				text-decoration: none;
			}
		</style>

		<!-- END TEMPLATE -->

		<title>Mentor Net - My Sessions</title>
	</head>
	<body class="text-center">

		<!-- Page Title -->
		<header class="container mt-3 mb-3">
			<h4 class="row">
				<span class="col-6">Mentor Net</span>
				<small class="text-muted col mt-1"> My Sessions </small>
			</h4>
		</header>

		<!-- Vue Entry -->
		<div id="vue-entry">
			<!-- Site Nav -->
			<nav class="mb-1 container py-1">
				<div class="row">
					<div class="col">
					<a href="mentor-list.html" class="btn btn-sm btn-outline-info">
						<i class="fa fa-users"></i><br>Mentors
					</a>
					</div>
					<div class="col">
					<a href="my-profile.html" class="btn btn-sm btn-outline-info">
						<i class="fa fa-user"></i><br>Profile
					</a>
					</div>
					<div class="col">
						<a href="#" class="btn btn-sm btn-outline-info">
							<i class="fa fa-globe"></i><br>Sessions
						</a>
					</div>
				</div></nav>

				<div v-show="ajaxLoading" class="my-5 container">
					<i class="fa fa-2x fa-spinner fa-pulse"></i>
					<br/>
					<br/>
					<p>Loading...</p>
				</div>

				<div v-show="errorMessage.length > 0" class="my-5 container">
					<p class="text-danger">
						<i class="fa fa-2x fa-exclamation-triangle"></i>
						<br/>
						<br/>
						{{ errorMessage }}
					</p>
				</div>

				<div v-show="!ajaxLoading && !errorMessage.length">
					<!-- Current session info goes here -->
					<div v-if="sessions.current !== -1" class="text-left bg-dark container py-3">
						<a :href="'session-view.html?uid=' + sessions.current.uid" class="text-light">
							<div class="row">
								<div class="col pr-0">
									<div class="row">
										<div class="col">
											<p class="ml-0 text-warning mb-0">Current Session</p>
										</div>
										<div class="col text-right">
											<p class="mr-1 text-warning mb-0"> {{ sessions.current.mentorName }}</p>
										</div>
									</div>
									<hr class="my-0 bg-light"/>
									<p class="mb-0"> {{ sessions.current.agreedTime }}min </p>
								</div>
								<div class="col-2 text-center pt-2">
									<i class="fa fa-chevron-right fa-2x text-warning"></i>
								</div>
							</div>
						</a>
					</div>
					<!-- In order:
						Mentor Name
						Date & Time of booking
						Current Status in small caps (e.g.: "VERIFYING PAYMENT")
						Fee
						Button to cancel, if not confirmed
						Help text based on current state e.g.:
							verifying: how to pay, cancellation details
							requested: cancellation details
							completed: giving feedback tips
					-->

					<!-- Past session info (for ea.) goes here -->
					<div v-if="sessions.history.length > 0" class="text-left">
						<small class="text-muted">HISTORY</small>

						<div v-for="(session, index) in sessions.history" :key="index">
							<hr class="my-1">
							<div class="row">
								<div class="col-4">
								</div>
								<div class="col text-right">
									<small class="text-muted"> {{ getStatusString(session.status) }} | </small>
									<a href="#" class="text-dark small">View <i class="fa fa-chevron-right"></i> </a>
								</div>
							</div>
							<div class="row">
								<div class="col">
									<small>Mentor Name</small>
									<p class="small mb-0">You rated 0 <i class="fa fa-star"></i></p>
								</div>
								<div class="col text-right">
									<small>${{ session.fee }} ({{ session.agreedTime }}min)</small>
									<p class="small mb-0">Session Date</p>
								</div>
							</div>
							<p class="text-center small mt-1 mb-1">Help text goes here</p>
						</div>
					</div>
					<!-- In order:
						Mentor Name
						Completed / Feedback given
						Date
						formatted(start_time) + " - " + formatted(end_time)
						Fee
						Rating
					-->
				</div>
		</div>

		<!-- Footer -->
		<footer class="mt-3">
			<p class="mt-0 text-muted">Got a question? Get in touch:</p>
			<h4 class="row mx-auto w-50">
				<a href="mailto:tom@joinmentornet.me" class="col">
					<i class="fa fa-envelope"></i>
					<p class="h6 mt-2">Email</p>
				</a>

				<a href="tel:0450797678" class="col">
					<i class="fa fa-phone"></i>
					<p class="h6 mt-2">Phone</p>
				</a>
			</h4>
		</footer>

		<!-- Javascript (global) -->
		<script src="https://cdn.jsdelivr.net/npm/vue"></script>
		<script src="https://unpkg.com/axios/dist/axios.min.js"></script>

		<script src="./js/generics.js"></script>
		<script src="./js/session-data.js"></script>
		<!-- Javascript (local) -->
		<script>
			if (!hasSessionData()) reauthAndReturn();

			let vue = new Vue({
				el: '#vue-entry',
				data: {
					// Model: References to the sessions we'll get via HTTP
					sessions: data.sessions,

					// UI state
					ajaxLoading: true,
					errorMessage: ''
				},
				computed: {
					sessionsUIDString () {
						return [ data.sessions.current ].concat(data.sessions.history).join(',');
					}
				},
				methods: {
					getStatusString (status) {
						switch (status) {
							case 'verifying':
								return 'Verifying Payment';
							case 'requested':
								return 'Waiting for Mentor';
							case 'confirmed':
								return 'Confirmed by Mentor';
							case 'needsFeedback':
								return 'Needs your Feedback';
							case 'completed':
								return 'Completed';
						}
					}
				}
			});

			if (vue.sessionsUIDString === '-1') {
				vue.ajaxLoading = false;
				vue.errorMessage = `You haven't had any sessions yet! Come back after you've booked a session.`;
			} else {
				http.get('/session/' + vue.sessionsUIDString)
					.then(sessions => {
						vue.ajaxLoading = false;

						if (data.sessions.current !== -1) {
							vue.sessions.current = sessions.data[0];
							vue.sessions.history = sessions.data.slice(1);
						} else {
							vue.sessions.current = -1;
							vue.sessions.history = sessions.data;
						}
					})
					.catch(handleAxiosError)
					.then(message => {
						vue.ajaxLoading = false;
						vue.errorMessage = message;
					});
			}
		</script>
	</body>
</html>
