<html>
	<head>
		<!-- <HEAD> TEMPLATE -->
		<!-- Meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

		<!-- CSS tags. nb: files relative to ./nav-redesign, not ./ -->
    <link href="./vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="./vendor/font-awesome/css/font-awesome.min.css">
		<style>
			a:hover {
				text-decoration: none;
			}
		</style>

		<!-- END TEMPLATE -->

		<title>Mentor Net - Session Review</title>
	</head>
	<body class="text-center">

		<!-- Page Title -->
		<header class="container mt-3 mb-3">
			<h4 class="row">
				<span class="col-6">Mentor Net</span>
				<small class="text-muted col mt-1"> Session Review </small>
			</h4>
		</header>

		<!-- Vue Entry -->
		<div id="vue-entry" style="display: none" v-show="1">
			<!-- Site Nav -->
			<nav class="mb-1 container py-1">
				<div class="row">
					<div class="col">
					<a href="mentor-list.html" class="btn btn-sm btn-outline-info">
						<i class="fa fa-users"></i><br>Mentors
					</a>
					</div>
					<div class="col">
					<a href="my-profile.html" class="btn btn-sm btn-outline-info">
						<i class="fa fa-user"></i><br>Profile
					</a>
					</div>
					<div class="col">
						<a href="sessions.html" class="btn btn-sm btn-outline-info">
							<i class="fa fa-globe"></i><br>Sessions
						</a>
					</div>
				</div>
			</nav>

			<!-- Pre-AJAX: Loading indicator -->
			<div v-show="ajaxLoading" class="my-5">
				<i class="fa fa-spinner fa-pulse"></i>
				<p>Loading...</p>
			</div>

			<!-- Post-AJAX: Error UI -->
			<div v-show="errorMessage.length > 0" class="my-5">
				<p class="text-danger">Error: {{ errorMessage }}</p>
			</div>

			<!-- Post-AJAX: The page itself -->
			<div
				v-show="!ajaxLoading && errorMessage.length === 0"
				class="text-left bg-dark text-light container py-3">

				<div class="row">
					<div class="col-7">
						<p class="small text-muted mb-0">Your session {{ sessionTense }} with</p>
						<p class="lead text-info mb-0">
							<a :href="'mentor-profile.html?uid=' + session.mentorUID" class="text-info">
								{{ session.mentorName }}
							</a>
						</p>

						<div v-if="session.status === 'completed' || session.status === 'feedbackGiven'">
							<p class="small text-muted mb-0">at</p>
							<p class="small mb-0">{{ time12h }}</p>
							<p class="small text-muted mb-0">on</p>
							<p class="small mb-0">{{ dateFull }}</p>
						</div>

					</div>
					<div class="col text-right">

						<p class="small text-muted mb-0">length:</p>
						<p class="lead"> {{ session.agreedTime }}min</p>

						<p class="small text-muted mb-0">fee:</p>
						<p class="lead"> ${{ session.fee }} </p>

						<p class="small text-muted mb-0">status:</p>
						<p :class="sessionStatusColour + ' lead mb-0'"> {{ session.status }} </p>
					</div>
				</div>

				<div
					v-if="session.status !== 'completed' && session.status !== 'feedbackGiven'"
					class="text-center mt-4">
					<button
						@click="cancelSession"
						class="btn w-100 btn-outline-danger">Cancel Session</button>
				</div>

				<p class="small mb-0">
					<br/>
					<a href="#" class="text-info">Help</a>
				</p>
			</div>
		</div>

		<!-- Footer -->
		<footer class="mt-3">
			<p class="mt-0 text-muted">Got a question? Get in touch:</p>
			<h4 class="row mx-auto w-50">
				<a href="mailto:tom@joinmentornet.me" class="col">
					<i class="fa fa-envelope"></i>
					<p class="h6 mt-2">Email</p>
				</a>

				<a href="tel:0450797678" class="col">
					<i class="fa fa-phone"></i>
					<p class="h6 mt-2">Phone</p>
				</a>
			</h4>
		</footer>

		<!-- Javascript (global) -->
		<script src="https://cdn.jsdelivr.net/npm/vue"></script>
		<script src="https://unpkg.com/axios/dist/axios.min.js"></script>

		<script src="./js/generics.js"></script>
		<script src="./js/session-data.js"></script>
		<!-- Javascript (local) -->
		<script>
			let vue = new Vue({
				el: '#vue-entry',
				data: {
					// Model: References to the sessions we'll get via HTTP
					session: -1,

					// UI state
					ajaxLoading: true,
					errorMessage: ''
				},
				computed: {
					time12h () {
						const time = new Date(this.session.timestamp);
						const hours = time.getHours() <= 12 ? time.getHours() : time.getHours() % 12;
						const minutes = time.getMinutes();
						const meridiem = time.getHours <= 12 ? 'AM' : 'PM';
						return hours + ':' + minutes + ' ' + meridiem;
					},
					timeRelative () {
						const time = new Date(this.session.timestamp);
						return '';
					},
					dateFull () {
						const time = new Date(this.session.timestamp);
						return [ time.getDate(), time.getMonth(), time.getFullYear() ].join('.');
					},
					dateRelative () {
						return '';
					},
					sessionTense () {
						switch (this.session.status) {
							case 'verifying':
							case 'requested':
							case 'confirmed':
								return 'is';
							case 'completed':
							case 'feedbackGiven':
								return 'was';
						}
						return -1;
					},
					sessionStatusColour () {
						switch (this.session.status) {
							case 'verifying':
							case 'requested':
								return 'text-warning';
							case 'confirmed':
							case 'completed':
							case 'feedbackGiven':
								return 'text-success';
						}
					}
				},
				methods: {
					setErrorMessage (msg) {
						this.ajaxLoading = false;
						this.errorMessage = msg || '';
					},
					cancelSession () {
						http.delete('/session/' + this.session.uid + '/cancel')
							.then(updatedUserResponse => {
								buildSessionData(updatedUserResponse.data);
								redirect('mentor-list.html');
							})
							.catch(handleAxiosError);
					}
				}
			});

			http.get('/session/' + getPageUID())
				.then(session => {
					vue.ajaxLoading = false;
					vue.session = session.data[0];
				})
				.catch(handleAxiosError)
				.then(vue.setErrorMessage);
		</script>
	</body>
</html>
