<!DOCTYPE html>
<html>
	<head>
		<!-- <HEAD> TEMPLATE -->
		<!-- Meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

		<!-- CSS tags. nb: files relative to ./nav-redesign, not ./ -->
		<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css" integrity="sha384-9gVQ4dYFwwWSjIDZnLEWnxCjeSWFphJiwGPXr1jddIhOegiu1FwO5qRGvFXOdJZ4" crossorigin="anonymous">
    <link rel="stylesheet" href="./vendor/font-awesome/css/font-awesome.min.css">
		</style>

		<!-- END TEMPLATE -->

		<title>Mentor Net</title>
	</head>
	<body>

		<header class="container pt-2 pb-0 bg-dark text-light">
			<h4 class="row mb-0">
				<span class="col-6">Mentor Net</span>
				<small class="text-muted text-right col mt-1">Find a Mentor</small>
			</h4>
		</header>

		<div id="vue-entry" class="container">

			<div class="row">
				<div class="col-12 py-2 px-2 bg-dark sticky-top">
					<div class="input-group">
						<input
							v-model="searchInput"
							@input="updateListView"
							class="form-control w-50"
							type="text"
							placeholder="Search by name, skills..." />
						<select v-model="searchTime" @change="updateListView" class="custom-select">
							<option value="now">Now</option>
							<option value="later" disabled>Later (Coming soon!)</option>
						</select>
					</div>
				</div>

				<div class="col-12 py-2">
					<small class="text-muted">AVAILABLE MENTORS</small>
					<a :href="'#' + mentor.name"
						class="row border-top py-2"
						v-for="mentor in filteredMentors">
						<div class="col-3">
							{{ mentor.name }}
						</div>
						<div class="col-9 text-truncate">
							{{ mentor.skills.join(', ') }}
						</div>
					</a>
				</div>
			</div>

		</div>

		<!-- Javascript (global) -->
		<script src="https://cdn.jsdelivr.net/npm/vue"></script>
		<script src="https://unpkg.com/axios/dist/axios.min.js"></script>
		<script src="./js/generics.js"></script>
		<script src="./js/fuzzysearch.js"></script>
		<script src="./js/session-data.js"></script>

		<!-- Javascript (local) -->
		<script>
			let pageData = {
				searchInput: '',
				searchTime: 'now',

				mentors: [
					{ name: 'Jim', skills: [ 'Fishing', 'Reading' ], availableNow: true, link: '#' },
					{ name: 'Jack', skills: [ 'Drinking', 'Fighting' ], availableNow: true, link: '#' },
					{ name: 'Jerry', skills: [ 'Dancing', 'Shooting' ], availableNow: true, link: '#' },
					{ name: 'JimBob', skills: [ 'Fishing', 'Heavy Drinking', 'Hustling' ], availableNow: true, link: '#' },
					{ name: 'Jim', skills: [ 'Writing' ], availableNow: true, link: '#' },
					{ name: 'Bob', skills: [ 'Making Love', 'Eating' ], availableNow: true, link: '#'},
					{ name: 'Carl', skills: [ 'Maths', 'English' ], availableNow: true , link: '#' },
					{ name: 'Dave', skills: [ 'Fitness', 'Looking Good' ], availableNow: true , link: '#' },
				],
				filteredMentors: []
			};

			let vue = new Vue({
				el: '#vue-entry',
				data: pageData,
				methods: {
					updateListView () {
						this.filteredMentors = this.mentors.filter(mentor => {
							if (this.searchInput.length) {
								const hasSkill = mentor.skills.reduce((prev,skill) => {
									return prev || fuzzysearch(this.searchInput, skill) || fuzzysearch(this.searchInput, mentor.name);
								}, false);
								return hasSkill;
							}
							return true;
						});

						this.filteredMentors = this.filteredMentors.filter(mentor => {
							return (this.searchTime === 'now' ? mentor.availableNow : true);
						});
					}
				}
			});

			vue.updateListView();

		</script>

	</body>
</html>
