<!DOCTYPE html>
<html>
	<head>
		<!-- <HEAD> TEMPLATE -->
		<!-- Meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

		<!-- CSS tags. nb: files relative to ./nav-redesign, not ./ -->
		<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css" integrity="sha384-9gVQ4dYFwwWSjIDZnLEWnxCjeSWFphJiwGPXr1jddIhOegiu1FwO5qRGvFXOdJZ4" crossorigin="anonymous">
    <link rel="stylesheet" href="./vendor/font-awesome/css/font-awesome.min.css">

		<!-- END TEMPLATE -->

		<title>Mentor Net</title>
	</head>
	<body id="top">

		<header class="container pt-2 pb-0 bg-dark text-light">
			<h4 class="row mb-0">
				<a href="search.html" class="col-6 px-2 text-light">Mentor Net</a>
				<small class="text-right col px-2 mt-1">Your Profile</small>
			</h4>
		</header>

		<nav class="container pt-2 pb-2 bg-dark">
			<div class="row">
				<div class="col-6 px-2">
					<a href="search.html" class="btn btn-sm btn-outline-warning w-100">
						<i class="fa fa-fw fa-search"></i> Learn
					</a>
				</div>
				<div class="col-6 px-2">
					<span class="btn btn-sm btn-warning w-100">
						<i class="fa fa-fw fa-user"></i> Profile
					</span>
				</div>
			</div>
		</nav>

		<div id="vue-entry" class="container" style="display: none" v-show="1">

			<div class="py-2" v-if="comingSessions.length">
				<small class="text-muted border-bottom" id="sessions">COMING SESSIONS</small>

				<a href="#" class="row pt-2" v-for="session in comingSessions">
					<div class="col-3"> {{ session.date }} </div>
					<div class="col-9 text-right"> {{ session.mentorName }} </div>
				</a>

			</div>

			<div class="py-2" v-if="pastSessions.length">
				<small class="text-muted border-bottom" id="sessions">COMING SESSIONS</small>

				<a href="#" class="row pt-2" v-for="session in pastSessions">
					<div class="col-3"> {{ session.date }} </div>
					<div class="col-9 text-right"> {{ session.mentorName }} </div>
				</a>

			</div>

			<div id="settings">
				<!-- TODO: show a loading indicator when updating via AJAX -->

				<!-- TODO: show an editing form when editing -->
				<div class="py-2" v-show="isEditing">
					<div class="row">
						<div class="col-6">
							<small class="text-muted border-bottom">PROFILE SETTINGS</small>
						</div>
						<div class="col-3 px-2">
							<button @click="confirmEdit()" class="btn btn-sm btn-outline-success py-0 w-100">
								<i class="fa fa-fw fa-check"></i> 
							</button>
						</div>
						<div class="col-3 px-2">
							<button @click="cancelEdit()" class="btn btn-sm btn-outline-danger py-0 w-100">
								<i class="fa fa-fw fa-times"></i> 
							</button>
						</div>
					</div>
					<div class="row pt-2">
						<div class="col-3">
							Email
						</div>
						<div class="col-9 text-right">
							{{ profile.email }}
						</div>
					</div>

					<div class="row pt-2">
						<div class="col-3">
							Name
						</div>
						<div class="col-9 text-right">
							{{ profile.name }}
						</div>
					</div>

					<div class="row pt-2">
						<div class="col-4">
							Phone No.
						</div>
						<div class="col-8 text-right">
							{{ profile.phone }}
						</div>
					</div>

					<!-- TODO: Payment details go here -->
				</div>

				<!-- TODO: hide this div when editing -->
				<div class="py-2" v-show="!isEditing">
					<div class="row">
						<div class="col-6">
							<small class="text-muted border-bottom">PROFILE SETTINGS</small>
						</div>
						<div class="col-6 text-right">
							<button @click="startEdit()" class="btn btn-sm btn-outline-secondary py-0">
								<i class="fa fa-fw fa-cog"></i> Edit
							</button>
						</div>
					</div>
					<div class="row pt-2">
						<div class="col-3">
							Email
						</div>
						<div class="col-9 text-right">
							{{ profile.email }}
						</div>
					</div>

					<div class="row pt-2">
						<div class="col-3">
							Name
						</div>
						<div class="col-9 text-right">
							{{ profile.name }}
						</div>
					</div>

					<div class="row pt-2" v-if="profile.phone">
						<div class="col-4">
							Phone No.
						</div>
						<div class="col-8 text-right">
							{{ profile.phone }}
						</div>
					</div>

					<!-- TODO: Payment details go here iff. they've got a 'favourite' method -->
				</div>
			</div>

		</div>

		<!-- Javascript (global) -->
		<script src="https://cdn.jsdelivr.net/npm/vue"></script>
		<script src="https://unpkg.com/axios/dist/axios.min.js"></script>
		<script src="./js/generics.js"></script>
		<script src="./js/session-data.js"></script>

		<!-- Javascript (local) -->
		<script>
			let pageData = {
				comingSessions: [],
				pastSessions: [],

				profile: sessionManager.getDataSubset('email', 'name', 'phone'),

				states: {
					viewing: 0,
					editing: 1,
					updating: 2,
				},

				state: 0

				// TODO: input models for posting the data above
			};

			let vue = new Vue({
				el: '#vue-entry',
				data: pageData,
				computed: {
					hasSessions () {
						return this.comingSessions.length || this.pastSessions.length;
					},
					isEditing () {
						return this.state === this.states.editing;
					}
				},
				methods: {
					startEdit () {
						this.state = this.states.editing;
					},
					confirmEdit () {
						this.state = this.states.viewing;
						// TODO: AJAX request to POST account data to server
					},
					cancelEdit () {
						this.state = this.states.viewing;
						// TODO: reset input models to unedited data
					}
				},
				mounted () {
					// TODO: check if session data --> if not, boot to login
				}
			});
		</script>

	</body>
</html>
