<!DOCTYPE html>
<html>
	<head>
		<!-- <HEAD> TEMPLATE -->
		<!-- Meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

		<!-- CSS tags. nb: files relative to ./nav-redesign, not ./ -->
		<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css" integrity="sha384-9gVQ4dYFwwWSjIDZnLEWnxCjeSWFphJiwGPXr1jddIhOegiu1FwO5qRGvFXOdJZ4" crossorigin="anonymous">
    <link rel="stylesheet" href="../vendor/font-awesome/css/font-awesome.min.css">
		</style>

		<!-- END TEMPLATE -->

		<title>Mentor Net</title>
	</head>
	<body>

		<header class="container pt-2 pb-2 bg-dark text-light">
			<h4 class="row mb-0">
				<a href="#0" class="col-6 px-2 text-light">Mentor Net</a>
				<small class="text-right col px-2 mt-1">Confirm Booking</small>
			</h4>
		</header>

		<div id="vue-entry" class="container" style="max-width: 28em;">

			<div class="container border mt-2 py-2 small">
				<div class="row">
					<div class="col">Mentor</div>
					<div class="col text-right">Nessa</div>
				</div>
				<div class="row pt-1">
					<div class="col">Session Date</div>
					<div class="col text-right"> {{ session.date }} </div>
				</div>
				<div class="row pt-1">
					<div class="col">Starts at</div>
					<div class="col text-right"> {{ session.startTime }} </div>
				</div>
				<div class="row pt-1">
					<div class="col">Goes for</div>
					<div class="col text-right"> {{ session.length }} </div>
				</div>
				<div class="row pt-1">
					<div class="col">Fee</div>
					<div class="col text-right"> {{ session.fee }} </div>
				</div>
			</div>

			<div class="container my-0 py-2">
				<div v-show="atState(states.start)">
					<p class="text-center mb-2">Step 1: Payment Method</p>

					<div class="row">
						<div class="col-6">
							<button
								@click="changeState(states.bsb)"
								class="w-100 btn btn-sm btn-primary">BSB & Acc No.</button>
						</div>
						<div class="col-6">
							<button
								@click="changeState(states.payid)"
								class="w-100 btn btn-sm btn-primary">PayID</button>
						</div>
					</div>

					<div class="row pt-4 justify-content-center">
						<div class="col-6">
							<button
								disabled
								class="w-100 btn btn-sm btn-primary">Card</button>
							<p class="text-muted text-center small">Coming soon!</p>
						</div>
					</div>
				</div>

				<form action="javascript:void(0);" @submit="changeState(states.contact)" v-show="atState(states.bsb)">
					<p class="text-center mb-2">Step 1: Payment Method</p>
					<small>BSB</small>
					<input
						v-model="input.bsb"
						class="form-control form-control-sm mt-1"
						type="text"
						autocomplete="off"
						placeholder="BSB"
						pattern="\d+"
						required/>
					<p class="small mb-0 mt-2">Account Number</p>
					<input
						v-model="input.accountNumber"
						class="form-control form-control-sm mt-1"
						type="text"
						autocomplete="off"
						placeholder="Account Number"
						pattern="\d+"
						required/>
					<div class="row mt-2">
						<div class="col">
							<button 
								type="button"
								class="btn btn-sm btn-secondary w-100"
								@click="changeState(states.start)">Back</button>
						</div>
						<div class="col">
							<button
								class="btn btn-sm btn-primary w-100"
								type="submit"
								:disabled="!bsbValid || !accountNumberValid">Next</button>
						</div>
					</div>
				</form>

				<form action="javascript:void(0);" @submit="changeState(states.contact)" v-show="atState(states.payid)">
					<p class="text-center mb-2">Step 1: Payment Method</p>
					<small>PayID</small>
					<input
						v-model="input.payid"
						class="form-control form-control-sm mt-1"
						type="text"
						autocomplete="off"
						placeholder="PayID"
						required/>
					<div class="row mt-2">
						<div class="col">
							<button 
								type="button"
								class="btn btn-sm btn-secondary w-100"
								@click="changeState(states.start)">Back</button>
						</div>
						<div class="col">
							<button
								class="btn btn-sm btn-primary w-100"
								type="submit"
								:disabled="!input.payid.length">Next</button>
						</div>
					</div>
				</form>

				<div v-show="atState(states.contact)">
					<p class="text-center mb-0">Step 2: Contact Info</p>
					<p class="small text-center mb-2"> {{ mentor.name }} will use this to contact you. </p>

					<form action="javascript:void(0);" @submit="changeState(states.end)">

						<p class="small mb-0">Phone Number</p>
						<input
							v-model="input.phoneNumber"
							class="form-control form-control-sm mt-1"
							type="tel"
							pattern="\d+"
							min="10"
							max="10"
							autocomplete="off"
							placeholder="04XXXXXXXX"
							required/>

						<p class="small mb-0 mt-2">Email</p>
						<input
							v-model="input.email"
							class="form-control form-control-sm mt-1"
							type="email"
							autocomplete="off"
							placeholder="Email"/>

						<div class="row mt-2">
							<div class="col">
								<button 
									type="button"
									class="btn btn-sm btn-secondary w-100"
									@click="changeState(input.payid ? states.payid : states.bsb)">Back</button>
							</div>
							<div class="col">
								<button
									class="btn btn-sm btn-primary w-100"
									type="submit"
									:disabled="input.phoneNumber.length !== 10">Done</button>
							</div>
						</div>
					</form>

				</div>

				<div v-show="atState(states.end)">

					<div class="text-center">
						<p class="mb-3">Step 3: Pay and Get Started</p>

						<p class="mb-0 small">Send {{ session.fee }} to Mentor Net's PayID:</p>
						<p class="mb-2">0450797678</p>

						<p class="mb-3 small">We'll check that it's you:</p>
					</div>

					<div class="small mb-3">
						<div class="row">
							<div class="col d-flex flex-column justify-content-center">
								<div class="row" v-show="!input.payid">
									<div class="col">BSB</div>
									<div class="col text-right"> {{ input.bsb }} </div>
								</div>
								<div class="row" v-show="!input.payid">
									<div class="col">Acc No.</div>
									<div class="col text-right"> {{ input.accountNumber }} </div>
								</div>
								<div class="row" v-show="input.payid">
									<div class="col">PayID</div>
									<div class="col text-right"> {{ input.payid }} </div>
								</div>
							</div>
							<div class="col-4">
									<button 
										class="btn btn-sm btn-secondary w-100"
										@click="changeState(input.payid ? states.payid : states.bsb)">Change</button>
							</div>
						</div>
					</div>

					<p class="small text-center">Then {{ mentor.name }} will contact you on {{ session.date }} using your details:</p>

					<div class="small mb-3">
						<div class="row">
							<div class="col d-flex flex-column justify-content-center">
								<div class="row">
									<div class="col">Ph No.</div>
									<div class="col text-right"> {{ input.phoneNumber }} </div>
								</div>
								<div class="row">
									<div class="col">Email</div>
									<div class="col text-right"> {{ input.email || 'N/A' }} </div>
								</div>
							</div>
							<div class="col-4">
									<button 
										class="btn btn-sm btn-secondary w-100"
										@click="changeState(states.contact)">Change</button>
							</div>
						</div>
					</div>

					<button 
						class="btn btn-sm btn-outline-secondary w-100"
						@click="resetState">Start Again</button>

				</div>
			</div>

		</div>

		<!-- Javascript (global) -->
		<script src="https://cdn.jsdelivr.net/npm/vue"></script>
		<script src="https://unpkg.com/axios/dist/axios.min.js"></script>
		<script src="./js/generics.js"></script>
		<script src="./js/session-data.js"></script>

		<!-- Javascript (local) -->
		<script>
			let vue = new Vue({
				el: '#vue-entry',
				data: {

					input: {
						payid: '',

						bsb: '',
						accountNumber: '',

						email: '',
						phoneNumber: ''
					},

					mentor: {
						name: 'Nessa'
					},

					session: {
						date: (new Date()).toDateString().slice(0, -4),
						startTime: (new Date()).toTimeString().slice(0, 5),
						length: "60 min",
						fee: "$20"
					},

					state: 0,
					states: {
						// Initial state: choice of payment
						start: 0,
						// Final state: screen showing payment's confirmed / awaiting confirmation
						end: 1,

						// Payment methods
						bsb: 2,
						payid: 3,

						// Contact Info
						contact: 4,
					}
				},
				computed: {
					bsbValid () {
						return this.input.bsb.length === 6 && Number.isNaN(Number(this.input.bsb)) === false;
					},
					accountNumberValid () {
						return this.input.accountNumber.length && Number.isNaN(Number(this.input.accountNumber)) === false;
					}
				},
				methods: {
					changeState (state) {
						this.state = state;
						window.location.hash = state;
						sessionStorage.setItem('checkoutDetails', JSON.stringify(JSON.parse(JSON.stringify(this.$data))));
					},
					atState (state) {
						return this.state === state;
					},
					resetState () {
						this.state = this.states.start;
						Object.keys(this.input).forEach(key => this.input[key] = '');
						sessionStorage.setItem('checkoutDetails', JSON.stringify(JSON.parse(JSON.stringify(this.$data))));
					}
				},
				mounted () {
					if (sessionStorage.getItem('checkoutDetails')) {
						const storedCheckoutDetails = JSON.parse(sessionStorage.getItem('checkoutDetails'));
						Object.keys(storedCheckoutDetails).forEach(key => this[key] = storedCheckoutDetails[key]);
						if (window.location.hash) {
							this.changeState(Number(window.location.hash.slice(1)));
						}
					}
				}
			});
		</script>
	</body>
</html>
